# Storage Box / SFTP
SFTP_HOST=your-storagebox.example.com
SFTP_USERNAME=your-username
SFTP_PORT=22

# Docker
PAPERLESS_CONTAINER=paperless-container

# SSH Private Key
SFTP_KEY="-----BEGIN OPENSSH PRIVATE KEY-----
YOUR_PRIVATE_KEY_HERE
-----END OPENSSH PRIVATE KEY-----"